* {
    box-sizing: border-box;
}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

body{
    z-index: 1;
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}
#top {
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
}
#mainContent {
    background: #fff;
    padding: 20px;
}
#navigation{
    width: 960px;
    margin: 0 auto 0 auto;
    height: 50px;
    align-content: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1{
    margin-top: 0;
    margin-left: 0;
    background: #4aaaa5; 
    color: white;
    text-align: center;
    padding: 20px;
}
#name{
    width:30%;
    float: left;

}
#about {
    width: 13%;
    float: right;
    margin: 0 6px 0 0;
    text-align: center;
    border-right: 1px solid;
}

#contact {
    width: 13%;
    float: right;

    margin: 0 6px 0 0;
    text-align: center;
    }
#portfolio {
    width: 13%;
    float: right;
    border-right: 1px solid;
    margin: 0 10px 0 0;
    text-align: center;
}

#mainContent{
    clear: both;
    overflow: auto;
    margin: 10px auto 10px auto;
}
h2 {
    color: #4aaaa5;
    padding: 15px;
    border-bottom: 2px #666 solid;
}


#bottom{
    width: 100%;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 5px  #4aaaa5 solid;
    background: #444;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
}